<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
	<title>购物车页面</title>
	<link rel="stylesheet" href="__PUBLIC__/css/base.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_common.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_header.css" type="text/css" />
	<link rel="stylesheet" href="__PUBLIC__/css/shop_gouwuche.css" type="text/css" />
    <script type="text/javascript" src="__PUBLIC__/js/jquery.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/topNav.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/jquery.goodnums.js" ></script>
    <script type="text/javascript" src="__PUBLIC__/js/shop_gouwuche.js" ></script>
</head>
<body>
	<script type="text/javascript">
	function minus(id)
		{
			$.ajax({
				type:"POST",
				url:"__CONTROLLER__/minus",
				data:{
					goods_id:id,
				},
				success:function(msg){
					
				}
			});

		}
		function add(id)
		{
			$.ajax({
				type:"POST",
				url:"__CONTROLLER__/add",
				data:{
					goods_id:id,
				},
				success:function(msg){
				
				}
			});

		}
		</script>
	<include file="Public/header" />
	<!-- 面包屑 End -->

	<!-- Header End -->
	
	<!-- 购物车 Body -->
	<div class="shop_gwc_bd clearfix">
		<!-- 在具体实现的时候，根据情况选择其中一种情况 -->
		<!-- 购物车为空 -->
			<div class="empty_cart mb10">
				<div class="message">
					<p>购物车内暂时没有商品，您可以<a href="index.html">去首页</a>挑选喜欢的商品</p>
				</div>
			</div>
		<!-- 购物车为空 end-->
		
		<!-- 购物车有商品 -->
		<div class="shop_gwc_bd_contents clearfix">
			<!-- 购物流程导航 -->
			<div class="shop_gwc_bd_contents_lc clearfix">
				<ul>
					<li class="step_a hover_a">确认购物清单</li>
					<li class="step_b">确认收货人资料及送货方式</li>
					<li class="step_c">购买完成</li>
				</ul>
			</div>
			<!-- 购物流程导航 End -->

			<!-- 购物车列表 -->
			<table>
				<thead>
					<tr>
						<th colspan="2"><span>商品</span></th>
						<th><span>单价(元)</span></th>
						<th><span>数量</span></th>
						<th><span>小计</span></th>
						<th><span>操作</span></th>
					</tr>
				</thead>
				<tbody>
                   <volist>
                   <!--此处有问题做标记-->
                   <foreach name="goodsRes" item="vo" >
					<tr>
						<td class="gwc_list_pic"><a href=""><img src="__ROOT__{$vo.goods_img}" style=" height:50px;width:50px"/></a></td>
						<td class="gwc_list_title"><a href="">{$vo.goods_name} </a></td>
						<td class="gwc_list_danjia"><span>￥<strong id="danjia_001">{$vo.shop_price}</strong></span></td>
						<td class="gwc_list_shuliang"><span><a class="good_num_jian this_good_nums" did="danjia_001" xid="xiaoji_001" ty="-" valId="goods_001" onClick="minus({$vo.goods_id})">-</a><input type="text" value="{$vo.goods_num}" id="goods_001" class="good_nums" /><a onClick="add({$vo.goods_id})" did="danjia_001" xid="xiaoji_001" ty="+" class="good_num_jia this_good_nums" valId="goods_001">+</a></span></td>
						<td class="gwc_list_xiaoji"><span>￥<strong id="xiaoji_001" class="good_xiaojis" value="{$vo.subtotal}">{$vo.subtotal}</strong></span></td>
						<td class="gwc_list_caozuo"><a href="__CONTROLLER__/collect/goods_id/{$vo.goods_id}">收藏</a><a href="__CONTROLLER__/delete/goods_id/{$vo.goods_id}" class="shop_good_delete">删除</a></td>
					</tr>
					</foreach>
					

					

					

					
				</tbody>
				<tfoot>
					<tr>
						<td colspan="6">
							<div class="gwc_foot_zongjia">商品总价(不含运费)<span>￥<strong id="good_zongjia">{$total}</strong></span></div>
						</volist>
							<div class="clear"></div>
							<div class="gwc_foot_links">
								<a href="__ROOT__/index.php" class="go">继续购物</a>
								<a href="__CONTROLLER__/shopcar2" class="op">确认并填写订单</a>
							</div>
						</td>
					</tr>
				</tfoot>
			</table>
			<!-- 购物车列表 End -->
		</div>
		<!-- 购物车有商品 end -->

	</div>
	<!-- 购物车 Body End -->

	<!-- Footer - wll - 2013/3/24 -->
	<div class="clear"></div>
	<div class="shop_footer">
            <div class="shop_footer_link">
                <p>
                    <a href="">首页</a>|
                    <a href="">招聘英才</a>|
                    <a href="">广告合作</a>|
                    <a href="">关于ShopCZ</a>|
                    <a href="">关于我们</a>
                </p>
            </div>
            <div class="shop_footer_copy">
                <p>Copyright 天津科技大学-毕业设计.</p>
            </div>
        </div>
	<!-- Footer End -->

</body>
</html>